h2.c1,
li.c1{
    color: green;
    font-weight: bold;
}

h2:hover{           
    color: grey;
    text-decoration: underline;
}

h3:hover{
    text-decoration: underline;
    color: lightslategray;
}