body{
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
#box{
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: cadetblue;
    padding: 1em;
}

.special{
    background-color: cyan;
    padding: 15px;
    color: white;
}
.clear{
    clear: left;
}