<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float Property</title>
    <link rel="stylesheet" href="float.css">
</head>
<body>
    <h1>Float Property</h1><hr><br>
    <img id="box" src="user.png" alt="user" width="150px">

    <h1 class="special">Resume</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ea impedit, quaerat odit sint, assumenda expedita commodi minima natus voluptatum vero. Ducimus necessitatibus temporibus laudantium nostrum harum molestias error voluptates corrupti! Esse magnam omnis quibusdam ducimus officiis laborum eius neque sequi quas, quos laudantium dignissimos a fugit quod repellat voluptatibus!</p>

    <p class="clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis soluta accusantium earum assumenda nobis tenetur quidem, minus ad quasi! Tempore laudantium totam placeat in nulla perspiciatis itaque aspernatur ipsa, qui iusto aliquid quibusdam, et autem temporibus libero! Facere, laudantium vel, alias esse laborum cupiditate autem quae architecto iste tempore numquam.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto ullam id quod atque, quis voluptatibus odio, in quidem reprehenderit aliquid repellendus. Autem ullam non harum assumenda nostrum rem iure voluptatibus. Accusamus commodi eligendi culpa architecto quod aut dolores, dolorem ad optio voluptatum quia expedita. Consectetur dolor animi aperiam. Nulla, facere.</p>
    
</body>
</html>